body, html {
	margin: 0px;
	padding: 0px;
}
.canvas,
.video {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	background: #000;
	z-index: 5;
	cursor: pointer;
}
.statusbar-overlay {
    opacity: 0;
}